@import url(https://fonts.googleapis.com/css?family=Righteous);

body {
/*    background-color: #343a40;*/
    background-color: lightgrey;
    
}

.ph {
    color: white; 
    width: 100%; 
    text-align: center; 
    margin: 15px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.nav-link a {
    color: black;
}

.wl {
    color: white;
}

a {
    color: black;
}

li {
    list-style: none;   
}
ul{
     padding-inline-start: 0px;
}

.banner-title {
    font-family: Righteous;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 54%;
}
/**Home Page**/
/*
#headShot {
    width: 200px; 
    height: 200px; 
    border-radius: 75%; 
    margin-top: 2%;
    border: 5px solid white;
   
}
*/
#headShot {
    max-width: 12rem; 
    max-height: 12rem; 
    border-radius: 75%; 
    margin-top: 2%;
    border: 5px solid white;
   
}
@supports (-webkit-text-stroke: 1px black) {
    #intro {
    text-align: center;
    color: white;
    display: block;
    margin: 10px; 
    -webkit-text-stroke: 0.5px black;

    }
}

/**About Me**/
.bg-1 {
    background-color: #9A0000;
    color: white;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.bg-2 {
    background-color: #D75813;
    color: white;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.bg-3 {
    background-color:#6ABEDB;
    color: white;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.bg-4 {
    background-color:#A92F41;
    color: white;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.bg-w {
    background-color: #f9f9f9;
    color: black;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.bg-drk {
    background-color: darkgrey;
    color: black;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

#cmu {
    width: 100px;
    height: 100px;
    /*border: 3px solid white;
    border-radius: 75%;*/
}

#pr-img {
    width: 100px;
    height: 50px;
    margin: 15px 0 15px 0;
}
.card {
    color: black;
    margin: 5px auto 5px auto;
}


.hero-img {
/*    background-image: url('img/banner.png'); */
    background-image: url('img/back.jpg'); 
    background-position: center;
    background-size: cover; 
    max-width: 120rem;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.date {
    font-size: 12px;
    color: darkgrey;
/*    margin-left: 2em;*/
}

#main-card-content {
    max-width: 100rem;
}


/* Videos Page  */

.video-desc {
    display: block;
    margin-bottom: 10%;
}

.btm-link {
    position: absolute;
    bottom: 0;
    left: 36%;
}

.video {
    /*
        width: 275px;
        height: 200px;
    */
        width: 300px;
        height: 225px;
    }

.latest-video {
        max-width: 30rem; 
        min-width: 20rem; 
        height: 17rem;
    }

.row-video {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        overflow: hidden;
        height: 400px;
    } 

#see-more {
    margin-top: 1%;
}

/*Blog Styling*/
.centerBlog {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.blog-post-card {
    max-width: 28rem;
    min-width: 21rem;
    max-height: 32rem;
}

.blog-card-img {
    width: 100%;
    max-height: 21rem;
    border-radius: calc(.25rem - 1px);
}

.blog-card-title {
    margin: .75rem, 0, .75rem, 0;
}

.blog-post-width {
    max-width: 80rem;
}
  
#logo-headshot {
    max-width: 5rem;
    max-height: 5rem;
    border-radius: 75%;
    margin: 2% 0% 25% 1%;
    margin-bottom: 25%;
    border: 2px solid white;
}

.disc-bullet {
    list-style-type: disc;
}

.inside-bullet {
    list-style: inside;
}
/* Media Rules */
@media only screen and (max-width: 600px) {
  #headShot {
    max-width: 8rem; 
    max-height: 8rem; 
    border-radius: 75%; 
    margin-top: 2%;
    border: 5px solid white;
   
    }

    #logo-headshot {
        max-width: 3.5rem;
        max-height: 3.5rem;
        border-radius: 75%;
        margin: 2% 0% 25% 1%;
        margin-bottom: 25%;
        border: 2px solid white;
    }

    .phMobile {
        display: block;
        margin-left: auto;
        margin-right: auto;  
        width: 100%;
    }

    .video-desc {
        display: none;
    }

    .row-video {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px; 
        overflow: visible;
        height: auto;     
    } 

    #see-more {
        display: none;
    }
}

/* iPad Media */
@media only screen and (max-width: 768px) and (min-width: 767px) {
    .banner-title {
        font-family: Righteous;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
    }
}